@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.space-y-3 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.fade-in-out {
    animation: fadeInOut 5s infinite;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #B3B3B3;
}

a,
button {
    color: #B3B3B3;
}

a:hover,
button:hover {
    color: #FFFFFF;
}

.btn-green {
    background-color: #1DB954;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: #FFFFFF;
    transition: 0.3s;
}

.btn-green:hover {
    background-color: #189e42;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

#messages {
    background-color: #181818;
    border: none;
    color: #B3B3B3;
}

#inputMessage {
    background-color: #181818;
    color: #B3B3B3;
}


/* 모달 */

#mapModal .bg-white {
    background-color: #181818 !important;
    color: #B3B3B3;
    padding: 2rem;
    border-radius: 15px;
}

#all_play p {
    border-bottom: 2px solid #333;
    padding: 5% 0;
}


/* 정답 이펙트 */

@keyframes shineGreen {
    0% {
        box-shadow: 0 0 5px #00FF00;
    }
    50% {
        box-shadow: 0 0 20px #00FF00, 0 0 30px #00FF00;
    }
    100% {
        box-shadow: 0 0 5px #00FF00;
    }
}

.shine-animation {
    animation: shineGreen 1.5s ease-in-out;
}

.correct-answer {
    color: #1DB954;
    font-weight: bold;
}

#all_play span:not(.correct-answer) {
    color: #e74c3c;
    font-weight: 500;
}

.player-box {
    background-color: #181818;
    border: 1px solid #282828;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.player-box:hover {
    background-color: #282828;
}

.kick_button,
.give_host {
    background-color: #1DB954;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FFFFFF;
    transition: 0.3s;
    margin-top: 10px;
}

.kick_button:hover,
.give_host:hover {
    background-color: #189e42;
}

.igeo-card-modal {
    background: #181818;
    transition: transform 0.3s ease, background 0.3s ease;
}

.igeo-card-modal:hover {
    background: #1DB954;
    color: #121212;
}

#messages::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바 너비 설정 */
}

#mapModal div::-webkit-scrollbar {
    display: none;
}

#mapModal div {
    scrollbar-width: none;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 스크롤바의 색상 */
    border-radius: 4px;
    /* 스크롤바 모서리 둥글게 */
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* 스크롤바에 마우스 올렸을 때 색상 */
}

#messages {
    scrollbar-width: thin;
    /* 스크롤바 너비 설정 */
    scrollbar-color: #888 transparent;
    /* 스크롤바와 트랙의 색상 */
}


/* 음량조절 스타일 */

#correctVolumeBar,
#VolumeBar {
    -webkit-appearance: none;
    width: 30%;
    height: 6px;
    background-color: #555;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

#correctVolumeBar::-webkit-slider-thumb,
#VolumeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #1ED760;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#correctVolumeBar::-moz-range-thumb,
#VolumeBar::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #1ED760;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/* 체크박스 스타일 */

#NextVideo {
    display: none;
}

label[for="NextVideo"] {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

label[for="NextVideo"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #AAA;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.2s;
}

#NextVideo:checked+label::before {
    background-color: #1ED760;
    /* Spotify Green */
}

label[for="NextVideo"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateY(-50%);
    display: none;
}

#NextVideo:checked+label::after {
    display: block;
}