.box {
    border: 1px solid #282828;
    background-color: #282828;
    color: #FFFFFF;
    overflow: hidden;
    height: 175px;
    width: 150px;
    transition: transform 0.3s;
    position: relative;
}
.box:hover, .add_box:hover
{
    cursor: pointer;
}

input,
select,
button,
textarea {
    font-family: 'Circular Std', Arial, sans-serif;
    background-color: #282828;
    color: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    transition: border 0.3s;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    border: 1px solid #1ED760;
}

button {
    cursor: pointer;
    background-color: #1ED760;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1DB954;
}

.add_box {
    text-align: center;
    font-size: 100px;
    border: 1px solid #1ED760;
    color: #1ED760;
    background-color: #282828;
    overflow: hidden;
    height: 175px;
    width: 150px;
    transition: transform 0.3s;
    position: relative;
}

.add_box:hover {
    transform: scale(1.05);
    z-index: 10;
    background-color: #1ED760;
    color: #282828;
}

#grid-container {
    background-color: #181818;
    grid-auto-flow: row;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    overflow-y: auto;
}

.box:hover {
    transform: scale(1.05);
    z-index: 10;
}

.left-side,
.right-side {
    background-color: #181818;
    color: #FFFFFF;
    height: 100vh;
    padding: 2rem;
}

.video-container {
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.three-or-more-row .box {
    height: 60px;
}

.scrolling-text {
    color: #FFFFFF;
    white-space: nowrap;
    width: 100%
}

input[type="file"] {
    border: 1px solid #1ED760;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #282828;
    color: #FFFFFF;
    font-size: 1rem;
}

input[type="file"]:hover {
    border-color: #1ED760;
    background-color: #1ED760;
    color: #282828;
}

.spinner {
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: #1ED760;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.spinner-text {
    color: #1ED760;
}

.time-style span {
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 30px;
}

.time-style input {
    border: 1px solid #1ED760;
    background-color: #282828;
    color: #FFFFFF;
    padding: 2px;
    text-align: center;
}

.progress-bar {
    position: relative;
    background-color: #333333;
    height: 10px;
    border-radius: 5px;
}

.progress-fill {
    background-color: #1ED760;
    height: 100%;
    transition: width 0.3s;
}

.tutorial-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.tutorial-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282828;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tutorial-close {
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.tutorial-font span,
.tutorial-font p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 5px;
}

.igeo-section {
    background-color: #181818;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.igeo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.igeo-box {
    background-color: #282828;
    padding: 1rem;
    border-radius: 10px;
    color: #FFFFFF;
    position: relative;
}

.igeo-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.igeo-song {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.igeo-thumbnail {
    width: 100%;
    border-radius: 10px;
}

.igeo-close-btn {
    background-color: #E0245E;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.igeo-add-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #1ED760;
    color: #181818;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.igeo-add-box:hover {
    transform: scale(1.1);
}