.box {
    border: 1px solid gray;
    overflow: hidden;
    height: 175px;
    width: 150px;
    transition: transform 0.3s;
    position: relative;
}

.add_box {
    text-align: center;
    font-size: 100px;
    border: 1px solid gray;
    overflow: hidden;
    height: 175px;
    width: 150px;
    transition: transform 0.3s;
    position: relative;
}

.add_box:hover {
    transform: scale(1.05);
    z-index: 10;
}

#grid-container {
    grid-auto-flow: row;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    overflow-y: auto;
    /* Grid container에 스크롤 추가 */
}

.box:hover {
    transform: scale(1.05);
    z-index: 10;
}
/* 추가된 스타일 */

.left-side,
.right-side {
    height: 100vh;
    padding: 2rem;
}

.info-section {
    height: 50%;
}

.input-form-section {
    height: 50%;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

/* .box가 3~4줄 이상일 경우 box의 크기를 변경함 */
.three-or-more-row .box {
    height: 60px;
}

.scrolling-text {
    white-space: nowrap;
    width: 100%
}

.scrolling-text:hover {
    animation: scroll 2s linear infinite;
}
@keyframes scroll {
from { transform: translateX(0); }
to { transform: translateX(-50%); }
}

input[type="file"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: white;
    color: #555;
    font-size: 1rem;
}
input[type="file"]:hover {
    border-color: #888;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.time-style span{
    padding-top: 10px;
    font-size: 30px;
}

/* 프로그레스 바 컨테이너 스타일 */
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #ddd;
  position: relative;
}

/* 프로그레스 바 채우기 스타일 */
.progress-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.3s; /* 애니메이션 효과를 위한 트랜지션 */
}