a,
button {
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-body {
    background-color: #1b1c1b;
}

.left-side,
.right-side {
    width: 50%;
    height: 100vh;
    padding: 2rem;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.file-active-check,
.active-check {
    border-radius: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-active-check:hover,
.active-check:hover {
    background-color: #1ed760;
    color: black;
    transition: 0.3s;
}

/* button 색상 별 스타일 */

.blue-button {
    background-color: #3b82f6;
    transition: 0.3s;
}

.blue-button:hover {
    background-color: #1a365d;
}

.green-button {
    background-color: #10b981;
    transition: 0.3s;
}

.orange-button {
    background-color: #fe2e2e;
    transition: 0.3s;
}

.green-button:hover {
    background-color: #276749;
}

.yellow-button {
    background-color: #f59e0b;
    transition: 0.3s;
}

.yellow-button:hover {
    background-color: #d97706;
}

.orange-button:hover {
    background-color: #ff0000;
}

/* grid-container 및 item box 스타일 */

#grid-container {
    grid-auto-flow: row;
    grid-gap: 1.25rem;
    width: 100%;
    height: 37.5%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    overflow-x: hidden;
    overflow-y: auto;
}

.box {
    background-color: #2b2c2b;
    overflow: hidden;
    height: 175px;
    width: 150px;
    transition: transform 0.3s;
    position: relative;
    z-index: 9;
    /* height 사이즈 변경 값은 main.js 의
     resize_variable_declaration() 참고 */
}

.box:hover {
    transform: scale(1.05);
    z-index: 10;
}

.add_box {
    align-items: center;
    background-color: #1ed760;
    border-radius: 0.25rem;
    color: black;
    display: flex;
    font-size: 3rem;
    height: 175px;
    width: 150px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    z-index: 9;
}

.add_box:hover {
    transform: scale(1.05);
    z-index: 10;
}

.close-btn {
    position: absolute;
    top: 0.1rem;
    right: 0.25rem;
    padding: 0 0.5rem;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    transition: 0.15;
    pointer-events: auto;
}

.close-btn:hover {
    background-color: rgba(255, 0, 0, 1);
}


/* .box의 제목, 곡 이름 애니메이션 효과 */

.box p,
.box h3 {
    white-space: nowrap;
}

.box p:hover,
.box h3:hover {
    animation: scroll 2s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* 누락된 정보가 있는 .box 스타일 (.box 스타일보다 위로가면 안됨) */
.info-omission {
    background-color: #952215;
}

/* 우측 곡 정보 입력부분 스타일 */

#submission-form {
    height: 50%;
}

#submission-form>* {
    margin: 0.3rem 0;
}

#MapName-input,
#submission-form input {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
}

#MapName-input:focus,
#submission-form input:focus {
    border: 1px solid #1ed760;
    outline: none;
    transition: border-color 0.3s;
}

#submission-form label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MapName label {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.time-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.time-style>*+* {
    margin: 0 0.125rem;
}

.time-style input {
    width: 100%;
    padding: 2px;
    text-align: center;
}

.time-style input::placeholder {
    font-size: 13px;
}

.time-style input::-webkit-inner-spin-button,
.time-style input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.time-style span {
    margin: 0 3px;
    font-size: 25px;
}


/*----------------------------------------*/

/* 파일 제출 버튼 스타일 */
label[for="excelUpload"] {
    justify-content: center;
    width: 67.6%;
    border: 1px solid #1ed760;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label[for="excelUpload"]:hover {
    background-color: #1ed760;
    color: black;
    transition: 0.3s;
}

/* 튜토리얼 창 스타일 */

.tutorial-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.tutorial-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tutorial-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.tutorial-font span {
    font-size: 14px;
}

.tutorial-font p {
    margin: 5px;
}


/*---------------------*/

/* 맵 설명을 위한 팝업 창 부분 */
.mapDescriptPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.mapDescriptPopupContent {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(55, 65, 81, 1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

#descript-textfield {
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/*-------------------------*/