<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>등록하기</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/play.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- use version 0.20.0 -->
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/map_tutorial.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/upload_filedata.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/download_filedata.js') }}" defer></script>
</head>

<body class="font-sans text-white h-screen custom-body">
    {% include "header.html" %}
    <!-- 왼쪽 영역 -->
    <div class="flex">
        <div class="left-side">

            {% if request.args.get('id') %}

            <div class="mb-3 MapName">
                    <label for="MapName-input" id="MapName-label">{{data[0][0]['MapName']}}</label>
                    <div class="w-full flex">
                        <input id="MapName-input" class="w-1/2 mx-1 hidden"
                               type="text" value="{{data[0][0]['MapName']}}">
                        <button id="MapName-insert" type="button"
                                class="w-full py-2 mx-1 blue-button">제목 변경</button>
                    </div>
            </div>

            {% else %}

            <div class="mb-3 MapName">
                    <label for="MapName-input" id="MapName-label"></label>
                    <div class="w-full flex">
                        <input id="MapName-input" class="w-1/2 mx-1 hidden"
                               type="text">
                        <button id="MapName-insert" type="button"
                                class="w-full py-2 mx-1 blue-button">제목 설정</button>
                    </div>
            </div>

            {% endif %}

            <div class="video-container bg-gray-500 overflow-hidden">
                <!-- This is where the video will be played -->
                <div class="bg-black opacity-90 w-full h-full flex items-center justify-center text-xl">
                    <span class="text-gray-400">영상이 표시됩니다</span>
                </div>
            </div>
            <div class="flex w-2/3 space-x-2">
                <div class="w-1/2 mb-1 py-1 flex">
                    <label for="autoplay-check">영상 자동재생</label>
                    <input id="autoplay-check" type="checkbox" class="ml-1" checked>
                </div>
            </div>
            <!-- 양식 파일 다운로드/업로드 form -->
            <div class="mb-1 py-1">
                <label for="excelUpload" class="my-1 block">맵 양식 제출</label>
                <input type="file" id="excelUpload" style="display: none;">
            </div>
            <div class="mt-1 py-1">
                <div class="flex space-x-1">
                <a href="{{ url_for('static', filename='file_form/MakingMap_form.xlsx') }}"
                   class="inline-block w-1/3 px-2 py-1 mt-1 text-center blue-button" download>양식 다운로드</a>

                <button id="changed-filedata"
                        class="w-1/3 px-2 py-1 mt-1 yellow-button" >맵 가져오기</button>
                </div>
            </div>

            <button id="tutorial"
                    onclick="open_tutorial()"
                    class="w-1/3 px-2 py-1 mt-1 yellow-button">튜토리얼</button>

            <button id="download_excelfile"
                    class="w-1/3 px-2 py-1 mt-1 blue-button">맵 내보내기</button>

            <!-- 튜토리얼 부분 -->
            <div id="tutorial-container" class="tutorial-container">
                <div id="tutorial-content" class="tutorial-content bg-gray-500">
                    <!-- 스크립트에서 동적으로 생성할 예정 -->
                </div>
            </div>
        </div>

        {% if request.args.get('id') %}
        <!-- 오른쪽 영역 -->
        <div class="right-side">
            <!-- 상단 정보 영역 -->
            <button onclick="open_descript()"
                    class="py-2 mb-2 w-full blue-button">맵 설명</button>

            <!--맵 설명을 적기위한 팝업 창-->
            <div id="map-descript-popup" class="mapDescriptPopup">
                <div id="map-descript-popup-content" class="mapDescriptPopupContent">
                    <div class="flex flex-col">
                        <textarea rows='17' cols='25' id="descript-textfield" class="mb-1">{{ data[0][0]['Description'] }}</textarea>
                        <div class="flex mt-1">
                            <div class="w-1/3"></div>
                            <div class="w-1/3"></div>
                            <button onclick="close_descript()" class="w-1/3 py-1 orange-button">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="grid-container" class="grid w-full h-full">
                <!-- 여기에 .box 아이템들이 추가됩니다 -->

                {% for d in data[1] %}
                <div class="box">
                    <button class="close-btn">X</button>
                    <h4 hidden>{{d['id']}}</h4>
                    <h3 class="font-bold mb-1">{{ d['title'] }}</h3>
                    <p class="mb-2">{{ d['song'] }}</p>
                    <img src="{{ d['thumnail_url'] }}" class="w-24 h-24 mx-auto">
                    <input type="hidden" value="{{ d['youtube_url'] }}">
                    <h1 style="display: none;">{{d['answer']}}</h1>
                    <h2 style="display: none;">{{d['hint']}}</h2>
                    <h5 style="display: none;">{{d['startTime']}}</h5>
                    <h6 style="display: none;">{{d['endTime']}}</h6>
                </div>
                {% endfor %}
                <div class="add_box"> + </div>
            </div>
            <!-- 하단 입력 양식 영역 -->
            <form id="submission-form">
                <div class="flex space-x-2">
                    <div class="flex w-1/2 mt-2 active-check">
                        <label class="mr-1">공개 여부</label>
                        <i class="mt-1 fa-solid \
                        {% if data[0][0]['active'] %} fa-lock-open {% else %} fa-lock {% endif %}"></i>
                    </div>
                    <button id="register-btn" type="button"
                                class="w-1/2 mt-1 py-1 blue-button">곡 등록</button>
                </div>

                <input type="text" id="id-input" hidden>
                <div hidden id="Mission_id">{{data[0][0]['id']}}</div>

                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="title-input">매체 이름</label>
                        <input id="title-input" class="w-full" type="text">
                    </div>
                    <div class="w-1/2">
                        <label for="song-name-input">곡 이름</label>
                        <input id="song-name-input" class="w-full" type="text">
                    </div>
                </div>

                <div class="flex justify-between">
                    <label id="answer-label">정답</label>
                        <div id = "answer_listAll" class="space-x-2">
                            <button data-index="0" class="answer_list multiple_button"
                                    onclick="focus_answer_list(event.target.dataset.index)">1</button>
                            <button id="add_answerlist"><p class="inline">다중 정답</p></button>
                            <button id="delete_answerlist"><p class="inline">제거</p></button>
                        </div>
                </div>
                <input data-index="0" class="w-full answer_input" type="text" style="display: block;">

                <label for="hint-input">힌트</label>
                <input id="hint-input" class="w-full" type="text">

                <label for="song-link-input">곡 링크</label>
                <input id="song-link-input" class="w-full" type="url">

                <label for="startTime-input-h">시작 시간 및 종료 시간</label>
                    <div id="Time" class="time-style">
                        <input id="startTime-input-h" type="number" max="99"
                               oninput="number_max(this)" placeholder="시간">
                        <span>:</span>
                        <input id="startTime-input-m" type="number" max="59"
                               oninput="number_max(this)" placeholder="분">
                        <span>:</span>
                        <input id="startTime-input-s" type="number" max="59"
                               oninput="number_max(this)" placeholder="초">
                        <span>.</span>
                        <input id="startTime-input-ms" type="number" max="999"
                               oninput="number_max(this)">
                        <span>~</span>
                        <input id="endTime-input-h" type="number" max="99"
                               oninput="number_max(this)" placeholder="시간">
                        <span>:</span>
                        <input id="endTime-input-m" type="number" max="59"
                               oninput="number_max(this)" placeholder="분">
                        <span>:</span>
                        <input id="endTime-input-s" type="number" max="59"
                               oninput="number_max(this)" placeholder="초">
                        <span>.</span>
                        <input id="endTime-input-ms" type="number" max="999"
                               oninput="number_max(this)">
                    </div>
                <div class="flex space-x-2">
                    <button id="update-btn" type="button"
                            class="w-1/2 py-2 yellow-button">변경사항 저장</button>
                    <button id="delete-btn" type="button"
                            class="w-1/2 py-2 orange-button">맵 삭제</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="right-side">
            <!-- 상단 정보 영역 -->
            <button onclick="open_descript()"
                    class="py-2 mb-2 w-full blue-button">맵 설명</button>

            <!--맵 설명을 적기위한 팝업 창-->
            <div id="map-descript-popup" class="mapDescriptPopup">
                <div id="map-descript-popup-content" class="mapDescriptPopupContent">
                    <div class="flex flex-col">
                        <textarea rows='17' cols='25' id="descript-textfield" class="mb-1"></textarea>
                        <div class="flex mt-1">
                            <div class="w-1/3"></div>
                            <div class="w-1/3"></div>
                            <button onclick="close_descript()" class="w-1/3 py-1 orange-button">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="grid-container" class="grid w-full h-full">
                <!-- 여기에 .box 아이템들이 추가됩니다 -->
                <div class="add_box"> + </div>
            </div>

            <!-- 하단 입력 양식 영역 -->
            <form id="submission-form">

                <div class="flex space-x-2">

                    <div class="w-1/2 mt-2 active-check">
                        <label>공개 여부</label>
                        <i class="fa-solid fa-lock-open"></i>
                    </div>

                    <button id="register-btn" type="button"
                                class="w-1/2 mt-1 py-1 blue-button">곡 등록</button>
                </div>

                <input type="text" id="id-input" hidden>

                <div class="flex space-x-2">
                    <div class="w-1/2">
                        <label for="title-input">매체 이름</label>
                        <input id="title-input" class="w-full" type="text">
                    </div>
                    <div class="w-1/2">
                        <label for="song-name-input">곡 이름</label>
                        <input id="song-name-input" class="w-full" type="text">
                    </div>
                </div>

                <div class="flex justify-between">
                    <label id="answer-label">정답</label>
                        <div id = "answer_listAll" class="space-x-2">
                            <button data-index="0" class="answer_list"
                                    onclick="focus_answer_list(event.target.dataset.index)">1</button>
                            <button id="add_answerlist"><p class="inline">다중 정답</p></button>
                            <button id="delete_answerlist"><p class="inline">제거</p></button>
                        </div>

                </div>
                <input data-index="0" class="w-full answer_input" type="text" style="display: block;">

                <label for="hint-input">힌트</label>
                <input id="hint-input" class="w-full" type="text">

                <label for="song-link-input">곡 링크</label>
                <input id="song-link-input" class="w-full" type="url">

                <label for="startTime-input-h">시작 시간 및 종료 시간</label>
                    <div id="Time" class="time-style">
                        <input id="startTime-input-h" type="number" max="99"
                               oninput="number_max(this)" placeholder="시간">
                        <span>:</span>
                        <input id="startTime-input-m" type="number" max="59"
                               oninput="number_max(this)" placeholder="분">
                        <span>:</span>
                        <input id="startTime-input-s" type="number" max="59"
                               oninput="number_max(this)" placeholder="초">
                        <span>.</span>
                        <input id="startTime-input-ms" type="number" max="999"
                               oninput="number_max(this)">
                        <span>~</span>
                        <input id="endTime-input-h" type="number" max="99"
                               oninput="number_max(this)" placeholder="시간">
                        <span>:</span>
                        <input id="endTime-input-m" type="number" max="59"
                               oninput="number_max(this)" placeholder="분">
                        <span>:</span>
                        <input id="endTime-input-s" type="number" max="59"
                               oninput="number_max(this)" placeholder="초">
                        <span>.</span>
                        <input id="endTime-input-ms" type="number" max="999"
                               oninput="number_max(this)">
                    </div>
                <div class="flex space-x-2">
                    <div class="w-1/2"></div>
                    <button id="save-btn" type="button" class="w-1/2 py-2 green-button">맵 저장</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</body>