<style>
    /* 푸터 스타일 */
    footer {
        background-color: #000;
        color: #fff; /* 푸터 텍스트 색상 설정 */
        text-align: center; /* 푸터 내용 가운데 정렬 */
    }
    /* 링크 스타일 */
    
    footer a {
        color: #fff;
        /* 링크 흰색 색상 */
        text-decoration: none;
        /* 링크 밑줄 제거 */
        margin: 0 10px;
        /* 링크 간격 설정 */
    }
</style>
<footer>
    <div>
        <p>&copy; 2023 igeo.site</p>
        <nav>
            <a href="/">홈</a>
            <a href="/donate">후원하기</a>
            <p>연락처 : duf7317@naver.com 디스코드 : Eiveryan#3082</p>

        </nav>
    </div>
</footer>