<header class="bg-white shadow-sm p-5 flex justify-between items-center">
    <a href="/"><div id="logo" class="text-3xl font-bold text-blue-500"><img src="../static/img/doge.png" alt=""style="width: 30%;"></div></a>
    <div>
        {% if current_user.is_authenticated %}
        <span class="mr-4 text-blue-500"><p id="User_Name" style="display: inline;">{{ current_user.name }}</p>님, 환영합니다!</span>
        <button id="logout-button" onclick="window.location.href='/logout'" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300">로그아웃</button> 
        <button id="MyMap-button" onclick="window.location.href='/Map'" class="mr-4 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300">My Map</button>        
        {% else %}
        <button id="login-button" onclick="window.location.href='/login'" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300">로그인</button> {% endif %}
    </div>
</header>