<header class="bg-white shadow-sm p-5 flex justify-between items-center">
    <a href="/"><div id="logo" class="text-3xl font-bold text-blue-500">Your Logo</div></a>
    <div>
        {% if current_user.is_authenticated %}
        <span class="mr-4 text-blue-500">{{ current_user.name }}님, 환영합니다!</span>
        <button id="logout-button" onclick="window.location.href='/logout'" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300">로그아웃</button> 
        <button id="addmap-button" onclick="window.location.href='/play'" class="mr-4 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300">등록하기</button>
        {% else %}
        <button id="login-button" onclick="window.location.href='/login'" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded transition duration-300">로그인</button> {% endif %}
    </div>
</header>