<header class="bg-white shadow-sm p-5 flex justify-between items-center">
    <!--google ad-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5318623516975787" crossorigin="anonymous"></script>
    <a href="/">
        <div id="logo" class="text-3xl font-bold text-blue-500"><img src="../static/img/icon.png" alt="" style="width: 20%;height: 30%;"></div>
    </a>
    <div>
        {% if current_user.is_authenticated %}
        <span class="mr-4 text-blue-500"><p id="User_Name" style="display: inline;">{{ current_user.name }}</p>님, 환영합니다!</span>
        <button id="logout-button" onclick="window.location.href='/logout'" class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded transition duration-300">로그아웃</button>
        <button id="MyMap-button" onclick="window.location.href='/Map'" class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded transition duration-300 ">맵 관리</button>
        <button id="account-Management-button" onclick="window.location.href='/account_confirm'" class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded transition duration-300">회원정보 관리</button>
        <button id="select-character-button" onclick="window.location.href='/select_character'" class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded transition duration-300">캐릭터 변경</button>{% else %}
        <button id="login-button" onclick="window.location.href='/login'" class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded transition duration-300">로그인</button> {% endif %}
    </div>
</header>