<head>
    <title>Chat Room List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <style>
        .scrollable {
            overflow-y: auto;
            max-height: 80vh;
        }
        
        #room-buttons {
            min-height: 50%;
            margin-left: 10%;
            margin-right: 10%;
        }
        
        #room-list>div {
            min-height: 200px;
        }
    </style>
</head>

<body class="bg-black h-screen text-white">

    {% include "header.html" %}
    <div class="flex items-center justify-center mb-2">
        <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-CiN4Rej85jMBJBJQ" data-ad-width="300" data-ad-height="250"></ins>
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    </div>
    <h1 class="text-center text-4xl font-semibold text-gray-200 mb-10">대기실</h1>
    <div id="room-buttons" class="grid grid-cols-4 gap-4 scrollable mb-8 shadow-lg p-4 rounded bg-gray-800"></div>
    </div>

    <div class="fixed bottom-4 left-4">
        <div id="userlist" class="bg-gray-800 p-4 rounded-lg shadow-lg max-h-60 scrollable"></div>
    </div>

    <div class="fixed bottom-4 right-4">
        <button onclick="create_room_button()" class="bg-green-600 text-white px-6 py-2 rounded hover:bg-green-700 transition duration-300 shadow-lg">Create Room</button>
    </div>

    <div id="CreateRoomModal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-800 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-gray-900 rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full sm:p-6">
                <div class="sm:flex sm:items-start">
                    <div class="w-full mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-300" id="modal-title">
                            방 생성
                        </h3>
                        <div class="flex items-center justify-between">
                            <p class="w-1/4">방제목 : </p><input id="room_title" type="text" class="border p-4 my-1 w-3/4 bg-gray-700 text-white"></div>
                        <div class="flex items-center justify-between">
                            <p class="w-1/4">패스워드 : </p><input id="room_password" type="text" class="border p-4 my-1 w-3/4 bg-gray-700 text-white"></div>
                        <div class="flex items-center justify-between">
                            <p class="w-1/4">인원 : </p><input id="room_max_human" type="number" min="1" max="8" value="8" class="border p-4 my-1 w-3/4 bg-gray-700 text-white"></div>
                    </div>
                </div>
                <div class="mt-5 sm:mt-6">
                    <button id="CreateRoomBtn" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600 sm:text-sm">
                        CreateRoom
                    </button>
                    <button id="CreateRoomModalCloseBtn" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-700 text-base font-medium text-white hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-700 sm:text-sm">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/room_list.js') }}"></script>

</html>