<head>
    <title>Chat Room List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/Socket_function.js') }}"></script>
    <script src="{{ url_for('static', filename='js/room_list.js') }}"></script>
    <style>
        .scrollable {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
</head>

<body class="bg-gray-100">
    {% include "header.html" %}
    <div class="container mx-auto mb-16">
        <h1 class="text-center text-3xl font-bold mb-8">대기실</h1>
        <ul id="room-list" class="grid grid-cols-5 gap-6 scrollable mb-4">
        </ul>
        <div id="room-buttons" class="grid grid-cols-2 gap-4 scrollable mb-4"></div>
    </div>
    <div class="fixed bottom-4 left-4">
        <div id="userlist" class="bg-white p-4 rounded shadow-md scrollable"></div>
    </div>

    <div class="fixed bottom-4 right-4">
        <button onclick="create_room_button()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">Create Room</button>
    </div>
</body>

</html>