<!-- play test author: NewKyaru 15/08/2023-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="/static/css/level.css">
    <script src="{{ url_for('static', filename='js/singleplay.js') }}" defer></script>
</head>

<body class="bg-black font-sans">
    {% include "header.html" %}

    <div class="flex flex-col lg:flex-row p-4 space-y-4 lg:space-y-0 lg:space-x-4">
        <!-- 왼쪽 영역 (영상 재생을 위한 iframe) -->
        <div class="w-full lg:w-3/5">
            <div id="videoContainer" class="w-full h-56 lg:h-full relative bg-gray-700 rounded-lg">
                <div id="videoFrame" class="absolute top-0 left-0 w-full h-full"></div>
                <div id="videoOverlay" class="bg-black opacity-100 w-full h-full absolute top-0 left-0 z-1 flex items-center justify-center text-white text-xl">
                    <span class="text-white">정답을 맞춰야 영상을 볼 수 있습니다.</span>
                </div>
            </div>
            <div class="bg-gray-900 p-4 border-1 rounded-lg mt-4 shadow-lg">
                <div class="flex justify-between items-center space-x-4">
                    <label for="NextVideo" class="flex items-center space-x-2 cursor-pointer">
                        <input type="checkbox" name="" id="NextVideo" class="form-checkbox rounded text-green-500">
                        <span>자동 스킵 투표</span>
                    </label>
                    <div class="flex items-center space-x-2">
                        <span>음량조절</span>
                        <input type="range" id="VolumeBar" class="w-24">
                    </div>
                </div>
                <div class="flex justify-between mt-4">
                    <div class="space-y-2">
                        <button id="nextButton" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded shadow-lg">다음 영상</button>
                        <p id="GameTimer" class="text-white ">남은 재생 시간 : <span>0</span>초</p>
                        <div class="flex space-x-2">
                            <p id="nowNumber">0</p>
                            <p>/</p>
                            <p id="AllNumber">0</p>
                        </div>
                    </div>
                    <div id="songInfo" class="mt-4 bg-gray-800 text-white p-2 rounded-lg shadow-lg">
                        <h2 id="songTitle" class="text-lg font-bold text-white"></h2>
                        <p id="songArtist"></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- 오른쪽 영역 (채팅 창) -->
        <div class="w-full lg:w-2/5 mt-4 lg:mt-0">
            <div class="rounded shadow border-gray-300 bg-gray-900 p-4">
                <div class="p-4">
                    <div class="h-80 text-white overflow-y-scroll border-b border-gray-700 mb-4" id="messages">
                        <!-- 채팅 내역 표시 창 -->
                    </div>
                </div>
                <div class="p-2 flex justify-between">
                    <!-- 채팅 입력 폼 -->
                    <input type="text" id="inputMessage" class="flex-grow mr-2 border rounded-lg px-2 py-1 bg-gray-800 text-white placeholder-gray-500" placeholder="메시지 입력...">
                    <button id="sendButton" class="bg-green-500 hover:bg-green-600 text-sm text-white px-4 py-1 rounded-lg shadow-lg">Send</button>
                </div>
            </div>
            <p class="text-gray-500 mt-2">End 키를 눌러 스킵 할 수 있습니다.</p>
        </div>
    </div>

</body>

</html>