<!-- play test author: NewKyaru 15/08/2023-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ url_for('static', filename='js/singleplay.js') }}" defer></script>
</head>

<body class="bg-black font-sans">
    {% include "header.html" %}

    <div class="flex p-4">
        <!-- 왼쪽 영역 (영상 재생을 위한 iframe) -->
        <div class="w-3/5 mr-4">
            <div id="videoContainer" class="w-full h-full relative">
                <div id="videoFrame" class="absolute top-0 left-0 w-full h-full"></div>
                <div id="videoOverlay" class="bg-black opacity-100 w-full h-full absolute top-0 left-0 z-10 flex items-center justify-center text-white text-xl">
                    <span class="text-white">정답을 맞춰야 영상을 볼 수 있습니다.</span>
                </div>
            </div>
            <div class="bg-gray-800 p-2 border-1 rounded-lg">
                <div class="flex justify-between bg-gray-800">
                    <div class="text-white bg-gray-800">
                        <input type="checkbox" name="" id="NextVideo"> 자동 스킵 투표(누군가가 정답을 맞춘경우에만 스킵됩니다.)
                    </div>
                    <div class="text-white bg-gray-800">
                        음량조절<input type="range" id = "VolumeBar">
                    </div>
                </div>
                <div class="flex justify-between">
                    <div class="">
                        <button id="nextButton" class="bg-green-500 text-white px-4 py-2 rounded">다음 영상</button>
                        <p id = "GameTimer" class="text-white bg-gray-800">남은 재생 시간 : <span>0</span>초</p>
                        <div class="flex bg-gray-800 text-white"><p id="nowNumber"  class="text-white">0</p><p class="text-white">/</p><p id = "AllNumber" class="text-white">0</p></div>
                    </div>
                    <div class="text-right">
                        <div id="songInfo bg-gray-800" class="mt-4">
                            <!--정답 표시용-->
                            <h2 id="songTitle" class="text-lg font-bold text-white"></h2>
                            <p id="songArtist" class="text-white"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 오른쪽 영역 (채팅 창) -->
        <div class="w-2/5 bg-gray-900 p-4 rounded-lg shadow-lg mt-4">
            <div class="rounded shadow border-gray-700">
                <div class="p-4">
                    <div class="h-80 text-white overflow-y-scroll border-b border-gray-700 mb-4" id="messages">
                        <!-- 채팅 내역 표시 창 -->
                    </div>
                </div>
                <div class="bg-gray-100 p-2 flex justify-between">
                    <!-- 채팅 입력 폼 -->
                    <input type="text" id="inputMessage" class="w-full border rounded px-2 py-1 border rounded-l-lg rounded-r-lg px-2 py-2 bg-gray-800 text-white placeholder-gray-500" placeholder="메시지 입력...">
                    <button id="sendButton" class="bg-blue-500 text-sm text-white px-4 py-1 rounded ml-2">Send</button>
                </div>
            </div>
            <p class="text-white">End 키를 눌러 스킵 할 수 있습니다.</p>
        </div>
    </div>
    
</body>

</html>