<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi play</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/Socket_function.js') }}"></script>
</head>

<body class="bg-gray-100 font-sans">
    {% include "header.html" %}

    <div class="flex mt-6 mx-4">
        <!-- Left Players Section -->
        <div class="w-1/4 pr-8" id="Players_Box_Left">

        </div>

        <!-- Middle Section (Video, Buttons, Song Info, Chat) -->
        <div class="w-2/4 px-4">
            <div class="mb-4 bg-white p-4 rounded shadow-lg text-center" style="min-height: 60px;">
                <h2 id="songTitle" class="text-lg font-bold "></h2>
            </div>

            <div class="relative mb-4">
                <div id="videoContainer">
                    <div id="videoFrame" class="w-full h-96"></div>
                    <div id="videoOverlay" class="absolute top-0 left-0 w-full h-full z-10 flex items-center justify-center text-white text-xl bg-black bg-opacity-100">
                        <div id="songHint" class="bg-gray-600 p-4 rounded" style="display: none;"></div>
                    </div>
                </div>
            </div>

            <!-- Buttons and Song Info Section -->
            <div class="flex justify-between items-center mb-6">
                <div class="grid grid-cols-2 gap-4 w-2/3">
                    <button id="nextButton" class="bg-green-500 text-white px-4 py-2 rounded" style="display: none;">다음 영상</button>
                    <button id="hintButton" class="bg-green-500 text-white px-4 py-2 rounded" style="display: none;">힌트 보기</button>
                    <button id="MapSelect" class="bg-yellow-500 text-white px-4 py-2 rounded" style="display: none;">맵선택</button>
                    <button id="StartButton" class="bg-yellow-500 text-white px-4 py-2 rounded" style="display: none;">시작하기</button>
                </div>

                <div id="songInfo" class="text-center" style="min-height: 100px;">
                    <h2 id="songArtist" class="text-gray-600"></h2>
                    <p id="correctUser" class="text-blue-500"></p>
                    <span id="skipVoteCount"></span>
                </div>
            </div>

            <!-- Chat Section -->
            <div class="bg-white p-4 rounded shadow-lg mb-6">
                <div class="h-64 overflow-y-scroll mb-4" id="messages"></div>
                <div class="flex">
                    <input type="text" id="inputMessage" class="flex-grow border rounded-l px-2 py-1" placeholder="메시지 입력...">
                    <button id="sendButton" class="flex-shrink bg-blue-500 text-white px-4 py-1 rounded-r">보내기</button>
                </div>
                <p class="mt-2 text-gray-600 text-sm">End 키를 눌러 스킵 할 수 있습니다.</p>
                <button id="text_clear" class="mt-2 bg-red-500 text-white px-4 py-1 rounded">text clear</button>
            </div>
        </div>

        <!-- Right Players Section -->
        <div class="w-1/4 pl-8" id="Players_Box_Right">

        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/multi_game.js') }}"></script>

</html>