<div class="flex items-center justify-end">
    <button onclick="open_tutorial()" type="button" class="px-2 py-1 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">처음으로 돌아가기</button>
    <button onclick="close_tutorial()" type="button" class="px-2 py-1 mt-1 ml-2 bg-red-500 text-white rounded hover:bg-red-600">&times;</button>
</div>
<div class="mt-10 y-full">
    <span style="font-size: 24px">1. 새로 만들기</span>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-green-500 rounded">
    <p><span>액셀 파일을 이용해서 맵을 새로 등록하려면</span></p>
    <p><span>우측의 영상이 재생되는 곳 밑 부분에</span>
        <span class="px-2 py-1.5 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">양식 다운로드</span></p>
    <p><span>버튼을 누르고 다운로드 받은 액셀 파일에 작성하셔야 합니다.</span></p>
    <p><span>내용 작성방법은 양식 파일 안에 설명이 있습니다.</span></p>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-blue-500 rounded">
    <p><span>작성 후 저장된 파일을</span>
        <span class="p-1 bg-gray-400 hover:bg-gray-200 border border-solid border-black">파일 선택</span></p>
    <p><span>을 누르셔서 작성하신 파일을 여시고</span></p>
    <p><span class="px-2 py-1 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">맵 추가하기</span>
        <span>버튼을 누르시면 작성하신 내용에 문제가 없을 시</span></p>
    <p><span>정상적으로 서버에 등록됩니다.</span></p>
</div>
<div class="flex" style="position: fixed; bottom: 30px; width: 90%;">
    <div class="w-1/2"></div>
    <div class=" w-1/2 flex mt-10">
        <button type="button" onclick="auto2_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">다음페이지 &#x25B6;</button>
    </div>
</div>