<div class="flex items-center justify-end">
    <button onclick="open_tutorial()" type="button" class="px-2 py-1 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">처음으로 돌아가기</button>
    <button onclick="close_tutorial()" type="button" class="px-2 py-1 mt-1 ml-2 bg-red-500 text-white rounded hover:bg-red-600">&times;</button>
</div>
<div class="mt-10 y-full">
    <span style="font-size: 24px">1. 맵 이름</span>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-green-500 rounded">
    <p><span>맵 이름을 적는 입력 칸은 입력 후</span>
        <span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">제목 저장하기</span>
        <span>를 누르면</span></p>
    <p><span>맵을 다 만들고 하단의</span>
        <span class="p-1 bg-green-500 text-white rounded hover:bg-green-600 transition">저장하기</span>
        <span>또는</span>
        <span class="p-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">정보 수정하기</span></p>
    <p><span>버튼을 누르기 전 까지</span>
        <span>건드릴 일이 없습니다.</span></p>
    <p><span>혹시 맵 이름을 중간에 바꾸고 싶으시다면</span>
        <span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">제목 변경하기</span>
        <span>를 누르고</span></p>
    <p><span>바꾸시고 싶은 이름으로 변경 후</span></p>
    <p></span>다시</span>
        <span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">제목 저장하기</span>
        <span>를 누르시면 됩니다.</span></p>
</div>
<div class="mt-5 y-full p-2 border border-solid border-black rounded bg-gray-100">
    <label id="tutorial-mapname-label">맵 이름: </label>
    <div class="w-full flex">
        <input id="tutorial-mapname-input" class="w-1/2 p-2 mx-1 border border-gray-300 rounded" type="text">
        <button id="tutorial-mapname-insert" type="button" class="w-1/2 py-2 mx-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">제목 저장하기</button>
    </div>
</div>
<div class="flex flex-col mt-5">
    <div class="m-1 flex justify-end">
        <button id="tutorial-mapname-savebtn" type="button" class="w-1/2 py-2 bg-green-500 text-white rounded hover:bg-green-600 transition">저장하기</button>
    </div>
    <div class="m-1 flex justify-end">
        <button id="tutorial-mapname-insertbtn" type="button" class="w-1/2 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">정보 수정하기</button>
    </div>
</div>
<div class="flex flex-col mt-5 y-full p-2 border border-solid border-black rounded bg-gray-100" style="font-size: 18px;">
    <label>실제 적용되는 맵 이름</label>
    <label id="tutorial-mapname"></label>
</div>
<div class="flex" style="position: fixed; bottom: 30px; width: 90%;">
    <div class="w-1/2"></div>
    <div class="w-1/2 flex mt-10">
        <div class="w-1/2"></div>
        <button type="button" onclick="manual2_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">다음페이지 &#x25B6;</button>
    </div>
</div>