<div class="flex items-center justify-end">
    <button onclick="open_tutorial()" type="button" class="px-2 py-1 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">처음으로 돌아가기</button>
    <button onclick="close_tutorial()" type="button" class="px-2 py-1 mt-1 ml-2 bg-red-500 text-white rounded hover:bg-red-600">&times;</button>
</div>
<div class="mt-10 y-full">
    <span style="font-size: 24px">6. 등록하기</span>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-green-500 rounded">
    <p><span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">등록하기</span>
        <span>버튼은 작성한 곡의 내용을 임시로 저장하는 버튼입니다.</span></p>
    <p><span>저장되면 작성한 내용이 화면 우측상단의 박스 형태로 저장되고</span></p>
    <p><span>새로운 곡의 내용을 입력할 준비가 됩니다.</span></p>
    <p><span>이미 등록한 곡의 내용을 수정하고 싶다면</span></p>
    <p><span>우측상단의 등록했던 곡을 클릭하셔서 내용을 수정하고</span></p>
    <p><span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">수정하기</span>
        <span>버튼을 누르면 반영됩니다.</span></p>
</div>
<div class="mt-5 y-full tutorial-font border border-solid border-blue-500 rounded">
    <p><span>최종적으로 서버에 맵이 저장 또는 내용이 수정되는 과정은</span></p>
    <p><span class="p-1 bg-green-500 text-white rounded hover:bg-green-600 transition">맵 저장하기</span>
        <span>또는</span>
        <span class="p-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">정보 수정하기</span>
        <span>버튼을 누르면</span>
    <p><span>우측상단에 임시로 저장되었던 곡들의 내용을 바탕으로</span></p>
    <p><span>서버에 반영됩니다.</span></p>
</div>
<div class="flex" style="position: fixed; bottom: 30px; width: 90%;">
    <div class="w-1/2"></div>
    <div class=" w-1/2 flex mt-10">
        <button type="button" onclick="manual5_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">&#x25C0; 이전페이지</button>
        <button type="button" onclick="manual7_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">다음페이지 &#x25B6;</button>
    </div>
</div>