<div class="flex items-center justify-end">
    <button onclick="open_tutorial()" type="button" class="px-2 py-1 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">처음으로 돌아가기</button>
    <button onclick="close_tutorial()" type="button" class="px-2 py-1 mt-1 ml-2 bg-red-500 text-white rounded hover:bg-red-600">&times;</button>
</div>
<div class="mt-10 y-full">
    <span style="font-size: 24px">2. 제목, 곡 이름</span>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-green-500 rounded">
    <p><span>제목은 해당 곡이 쓰여진 매체 이름을 적는 곳입니다.</span></p>
    <p><span>예를 들어서 애니메이션 제목, 드라마 제목, 영화 제목</span></p>
    <p><span>일반 앨범 곡의 경우엔 가수이름이나 곡의 장르를 적으셔도 됩니다.</span></p>
</div>
<div class="mt-5 y-full tutorial-font border border-solid border-blue-500 rounded">
    <p><span>곡 이름은 실제 게임플레이 시 유저가 정답을 맞췄을 경우</span></p>
    <p><span>맞춘 곡의 이름을 표시하는 역할을 합니다.</span></p>
    <p><span>따라서 곡 이름을 정답으로 하시는 경우</span></p>
    <p><span>곡 이름에 작성하신 단어는 정답처리가 되지않기에</span></p>
    <p><span>정답 입력 칸에도 곡 이름을 작성하셔야 합니다.</span></p>
</div>
<div class="flex" style="position: fixed; bottom: 30px; width: 90%;">
    <div class="w-1/2"></div>
    <div class=" w-1/2 flex mt-10">
        <button type="button" onclick="manual_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">&#x25C0; 이전페이지</button>
        <button type="button" onclick="manual3_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">다음페이지 &#x25B6;</button>
    </div>
</div>