<div class="flex items-center justify-end">
    <button onclick="open_tutorial()" type="button" class="px-2 py-1 mt-1 bg-blue-500 text-white rounded hover:bg-blue-600">처음으로 돌아가기</button>
    <button onclick="close_tutorial()" type="button" class="px-2 py-1 mt-1 ml-2 bg-red-500 text-white rounded hover:bg-red-600">&times;</button>
</div>
<div class="mt-10 y-full">
    <span style="font-size: 24px">7. 주의사항</span>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-green-500 rounded">
    <p><span>1. 맵 이름은 필수 입력사항입니다.</span></p>
    <div class="py-1"></div>
    <p><span>비어있을 경우 </span>
        <span class="p-1 bg-green-500 text-white rounded hover:bg-green-600 transition">맵 저장하기</span>
        <span>또는</span>
        <span class="p-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">정보 수정하기</span>
        <span>를 눌러도</span></p>
    <p><span>해당 맵은 등록되거나 수정되지가 않습니다.</span></p>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-blue-500 rounded">
    <p><span>2. 제목, 곡 이름, 정답, 곡 링크도 필수 입력사항입니다.</span></p>
    <div class="py-1"></div>
    <p><span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">등록하기</span>
        <span>또는</span>
        <span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">수정하기</span>
        <span>버튼을 누르면</span></p>
    <p><span>우측상단의 아이템 박스에 등록 또는 내용이 반영되지만</span></p>
    <p><span>최종적으로 서버에 반영될 때에는 해당 곡은 제외됩니다.</span></p>
</div>
<div class="mt-2 y-full tutorial-font border border-solid border-yellow-500 rounded">
    <p><span>3. 마지막 작업을 하신 후</span></p>
    <p><span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">등록하기</span>
        <span>또는</span>
        <span class="p-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">수정하기</span>
        <span>버튼을 누른 후</span></p>
    <p><span class="p-1 bg-green-500 text-white rounded hover:bg-green-600 transition">맵 저장하기</span>
        <span>또는</span>
        <span class="p-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition">정보 수정하기</span>
        <span>를 누르셔야 합니다.</span></p>
    <div class="py-1"></div>
    <p><span>실제 서버에 반영되는 동작은</span></p>
    <p><span>우측상단의 아이템 박스의 내용을 기준으로 반영됩니다.</span></p>
</div>
<div class="flex" style="position: fixed; bottom: 30px; width: 90%;">
    <div class="w-1/2"></div>
    <div class=" w-1/2 flex mt-10">
        <button type="button" onclick="manual6_make()" class="py-1 mx-1 w-1/2 bg-red-300 text-white rounded hover:bg-red-400 transition">&#x25C0; 이전페이지</button>
    </div>
</div>